body{
    background-color: black;
    color: white;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

img{
    width: 100px;
}

a{
    color: black;
    text-decoration: none;
}
